@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#addBook {
  box-shadow: 15px 5px 10px 0.5px rgb(253, 237, 174);
}

#updateModalBack {
  display: flex;
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(41, 15, 120, 0.75);
  justify-self: flex-start;
  align-self: center;
  z-index: 3;
  justify-content: center;
  align-items: center;
}

#updateModalCard {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 50%;
  max-width: 500px;
  padding: 0.5rem;
  z-index: 4;
  background-color: rgb(236, 182, 213);
  border-radius: 0.5rem;
}

#modalClose {
  display: flex;
  align-self: flex-end;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 60%;
  background-color: transparent;
  order: 1;
}

#modalImg {
  border-radius: 0.5rem;
  display: flex;
  align-self: center;
  margin-bottom: 1rem;
  order: 2;
  padding: 0.25rem;
}

#modalForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  order: 3;
}

@media only screen and (min-width: 768px) {
  #updateBtn {
    padding: 2.5px;
    border-radius: 2rem;
    box-shadow: 15px 5px 10px 0.5px rgb(253, 174, 245);
  }
}

@media only screen and (max-width: 768px) {
  #updateBtn {
    text-decoration: underline;
  }
}

#modalInput {
  background-color: #ebb5e3;
  border-radius: 0.25rem;
}
#modalInput:focus {
  background-color: rgb(254 243 199);
  border: 1px solid rgb(149, 180, 9);
  outline: none;
}


tr {
  position: relative;
  z-index: 1;
  padding: 2.5px;
  border-radius: 0.25rem;
  box-shadow: 15px 5px 10px 0.5px rgb(253, 237, 174);
}

tr > td {
  background-color: transparent!;
}
td > img {
  position: relative;
  z-index: -2;
}



input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



@media only screen and (max-width: 500px) {
  tr img {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #modalClose {
    font-size: 1rem;
  }
}
